node_modules
npm-debug.log
.npm
.pnpm-store
yarn.lock
pnpm-lock.yaml
.turbo
.next
dist
build
.cache
.DS_Store
*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
.vscode
.idea
tmp
/frontend/node_modules
/backend/node_modules
/frontend/.env*
/backend/.env*
/scripts/*.log
/coverage
/logs

